// ==========================================================================
// Form Elements
// ==========================================================================
input {
  -webkit-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
textarea {
  width: 100%;
  font-size: 1.4rem;
  padding: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  &.-secondary {
    border: 1px solid $color-normal-lighter;
    &.is-invalid {
      border: 2px solid $color-accent;
    }
  }
}

textarea{
  color: $color-normal;
  font-weight: 400;
  font-family: "Arial", "Montserrat", "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.7;
  letter-spacing: 0.01em;
  resize: none;
}


select {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 54px;
  padding: 0 15px;
  padding-right: 40px;
  color: $color-normal-light;
  border: none;
  background: transparent;
  font-size: 1.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.selectFontColor{
  color: $color-normal-light;
}
.selectWrap {
  position: relative;
  margin-right: 5px;
  @include mq(md) {
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 10px;
    margin-top: -6px;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 0px;
    border-right: solid 2px $color-normal-lighter;
    border-bottom: solid 2px $color-normal-lighter;
  }
}


// CheckBox
input[type='checkbox'] {
  display: none;			/* checkboxを非表示にする */
  & + label {
    position: relative;		/* ボックスの位置を指定する */
    padding: 0 0 0 30px;	/* ボックス内側の余白を指定する */
    &:hover::after {
      background-color: $base-color-bg;
    }
    &::after,
    &::before {
      position: absolute;	/* ボックスの位置を指定する */
      content: "";		/* ボックスのコンテンツ */
      display: block;		/* ブロックレベル要素化する */
      top: 50%;			/* 上部から配置の基準位置を決める */
    }
    &::after {
      left: 0;
      margin-top: -12px;
      width: 22px;
      height: 22px;
      box-sizing: border-box;
      border: 1px solid $base-color-border;
      border-radius: 4px;	/* ボックスの角丸を指定する */
      background-color: $base-color-bg;
    }
    &::before {
      left: 7px;			/* 左から配置の基準位置を決める */
      margin-top: -8px;	/* チェックマークの位置 */
      width: 8px;			/* ボックスの横幅を指定する */
      height: 11px;		/* ボックスの高さを指定する */

      border-right: 3px solid $color-base;
      border-bottom: 3px solid $color-base;
      transform: rotate(45deg);	/* 要素を回転させる */
      opacity: 0;			/* 要素を透過指定する */
    }
  }
  & + label.-notext {
    padding: 0 0 0 22px;
  }
  &:checked {
    & + label {
      &::after {
        border: 1px solid $color-primary;
        background-color: $color-primary;
      }
      &::before {
        opacity: 1;		/* 要素を表示する */
        z-index: 1000;
      }
    }
  }
}


input[type='radio'] {
  display: none;			/* checkboxを非表示にする */
  & + label {
    position: relative;		/* ボックスの位置を指定する */
    padding: 0 0 0 23px;	/* ボックス内側の余白を指定する */
    cursor: pointer;
    @include mq {
      padding: 0 0 0 30px;
    }
    &:hover::after {
      //border-color: $color-primary;	/* ボックスの境界線を実線で指定する */
      background-color: $base-color-bg;
    }
    &::after,
    &::before{
      position: absolute;	/* ボックスの位置を指定する */
      content: "";		/* ボックスのコンテンツ */
      display: block;		/* ブロックレベル要素化する */
      top: 50%;			/* 上部から配置の基準位置を決める */
    }
    &::after {
      left: 4px;
      margin-top: -9px;
      width: 17px;
      height: 17px;
      background-color: $base-color-bg;
      border: 1px solid $base-color-border;
      border-radius: 50%;	/* ボックスの角丸を指定する
      */
      z-index: 0;
    }
    &::before {
      left: 8px;
      margin-top: -5px;
      width: 9px;
      height: 9px;	/* ボックスの高さを指定する */
      background: $color-primary;/* ボックスの背景色を指定する */
      border-radius: 50%;	/* 要素を回転させる */
      opacity: 0;			/* 要素を透過指定する */
      z-index: 1;
    }
  }
  &:checked{
    & + label {
      font-weight: $weight-bold;
      &::before {
        opacity: 1;		/* 要素を表示する */
      }
      &::after {
        border: 1px solid $color-primary;
      }
    }
  }
}

input[type="submit"] {
  display: none;
  & + label {
    display: block;
    width: 100%;
    padding: 15px;
    color: $color-base;
    border-radius: 30px;
    background: $color-primary;
    font-weight: $weight-bold;
    &:hover::after {
      background-color: $base-color-bg;
    }
  }
}
