// ==========================================================================
// Table
// ==========================================================================

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  background: $color-primary-light;
  font-size: 1.3rem;
  @include mq{
    font-size: 1.4rem;
  }
  tr {
    padding: .35em;
    border-bottom: 2px solid $color-base;
  }
  th,
  td {
    padding: 1em 10px 1em 1em;
    border-right: 2px solid $color-base;
    font-weight: normal;
  }
  .bg-dark {
    background-color: $color-primary;
    color: $color-base;
    font-weight: $weight-bold;
  }
  .bg-middle {
    background: lighten($color-primary, 15%);
  }
  .bg-light {
    background-color: $color-primary-light;
  }
}