// ==========================================================================
// dlList
// ==========================================================================


.dlList {
  margin: 0;
  dt {
    position: absolute;
    width: 120px;
    margin: 20px 0 0 0;
    padding-top: 20px;
    font-weight: bold;
    @include mq(sm) {
      position: unset;
      padding: 10px 0 0 0;
      text-align: left;
    }
    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
    }
  }
  dd {
    margin: 20px 0 0 0;
    padding: 20px 0 0 150px;
    border-top: 1px solid #EFEFEF;
    @include mq(sm) {
      padding: 0 0 10px 0;
    }
    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }
  }
}