// ==========================================================================
// footer
// ==========================================================================


.footer {
  width: 100%;
  background: $color-normal-lighter;
  @include mq {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25vw;
    border: 0;
    background: none;
  }
  .copyright {
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    font-size: 1rem;
    color: #7f7f7f;
    background: $color-base;
    @include mq {
      background: none;
    }
  }
}
