.form {
  margin-top: 0;
  input + input {
    margin-top: 15px;
    @include mq {
      margin-top: 20px;
    }
  }
  input + .label {
    margin-top: 15px;
    &.-margin{
      margin-top: 0;
    }
  }
  label + .btnWrap {
    margin-top: 15px;
  }
  .btnWrap{
    margin-top: 30px;
    .submit {
      margin-top: 15px;
    }
  }
  .submit {
    margin: 30px auto 0;
    padding: 12px;
    max-width: 900px;
    @include mq {
      margin-top: 60px;
    }
  }
  &.-confirm {
    padding-top: 10px;
    .-eventNone {
      pointer-events: none;
    }
  }
  .check_me {
    margin-top: 30px;;
  }
  .alert {
    margin-top: 30px;
    text-align: left;
    & + .check_me {
      margin-top: 15px;
    }
    &.-top {
      margin-top: 0;
      margin-bottom: 10px;
    }
    &.-margin {
      margin-top: 15px;
    }
  }
  .link_wrap{
    margin-top: 20px;
    .link {
      display: block;
      & + .link {
        margin-top: 10px;
      }
    }
  }
  .label {
    display: block;
    text-align: left;
  }
  .textarea {
    height: 200px;
    @include mq {
      height: 300px;
    }
  }
}

.radio_wrap {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: wrap;
  margin-top: 15px;
  input {
    opacity: 0;
  }
  p {
    width: 100%;
    text-align: left;
  }
  input + .label {
    margin-top: 5px;
  }
  .label {
    margin-right: 30px;
  }
  & + .label {
    margin-top: 15px;
  }
  & + .radio_wrap {
    margin-top: 15px;
  }
  &.-hasStar {
    position: relative;
    padding-bottom: 5px;
    input[type=radio] {
      display: block;
      margin: 10px 0 0 10px;
      padding: 0;
      width: 30px;
      height: 30px;
      & + input {
        margin: 10px 0 0 20px;

      }
    }
  }
}

.input_wrap {
  position: relative;
  margin-top: 15px;
  & + .input_wrap {
    margin-top: 15px;
  }
  &.-margin {
    margin-top: 0;
  }
  & + .label {
    margin-top: 15px;
  }
  .unit {
    display: none;
    &.active{
      display: block;
      position: absolute;
      top: 35px;
      left: 35px;
      &.price {
        top: 36px;
        left: 60px;
      }
    }
  }
}

input[type="file"] {
  width: 30px;
  height: 30px;
}

#register_submit[disabled] {
  & + label {
    opacity: 0.5;
  }
}
