// ==========================================================================
// global navigation
// ==========================================================================
.gnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 85vw;
  height: 100vh;
  z-index: 1000;
  background: $color-base;
  transform: translateX(-100%);
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  overflow: scroll;
  @include mq {
    position: fixed;
    width: 25vw;
    z-index: 10;
    transform: none;
    border-right: 1px solid $color-normal-lighter;
  }
  &.active {
    transform: none;
  }
}
.gnav_list {
  margin: 0;
  padding: 60px 15px;
  list-style: none;
  @include mq {
    padding: 100px 15px;
  }
}
.gnav_item {
  & + .gnav_item {
    margin-top: 10px;
  }
  a {
    display: block;
    padding: 7px 30px 7px 5px;
    border-bottom: 1px solid $color-normal-light;
    color: $color-normal;
    font-size: 1.6rem;
    font-weight: $weight-bold;
  }
  &.-sns {
    margin: 30px 0 0 10px;
    a {
      width: 50px;
      border: none;
      padding: 0;
    }
  }
  .greeting {
    margin-top: 10px;
    font-size: 1.6rem;
    span {
      font-size: 1.7rem;
      font-weight: $weight-bold;
    }
  }
  .auth_email {
    font-size: 1.2rem;
    margin-top: 0;
    padding-left: 4px;
    @include mq {
      margin-bottom: 20px;
    }
  }
  &.-margin {
    margin-bottom: 30px;
    @include mq {
      margin-bottom: 60px;
    }
  }
}
