@charset "utf-8";

#body_hidden {
  display: none;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000000000;
}
.loading_logo {
  width: 80%;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
}
.loading_icon {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

// ==========================================================================
// Import Modules
// ==========================================================================

@import "01_settings/variables";

@import "02_tools/breakpoints";
@import "02_tools/box-sizing";

@import "03_generic/reset";

@import "04_elements/base";
@import "04_elements/form";

@import "05_objects/footer";
@import "05_objects/gnav";
@import "05_objects/header";
@import "05_objects/forms";

@import "06_components/button";
@import "06_components/card";
@import "06_components/arrow";



//------------------------------------


.disp-block {
  display: block;
}

.text_align {
  text-align: center;
}

.-hidden {
  display: none;
}

.-sp {
  display: block;
  @include mq {
    display: none;
  }
}

.-tab {
  display: block;
  @include mq(sm) {
    display: none;
  }
}

.-pc {
  display: none;
  @include mq {
    display: block;
  }
}

.-bold {
  font-weight: $weight-bold;
}


//-------------------------------------------------
.modal {
  display: none;
  &.active {
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    display: block;
    width: 80vw;
    max-width: 400px;
    padding: 30px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid $color-normal-lighter;
    border-radius: 10px;
    background: $color-base;
    .btn {
      width: 80px;
      padding: 5px 0px;
      & + .btn {
        margin-left: 5px;
      }
    }
    form {
      margin: 0;
      padding: 0;
      opacity: 0;
    }
  }
}

.overlay {
  &.active {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background: #00000060;
    @include mq {
      z-index: 10000;
    }
  }
}

.wrapper {
  padding-top: 54px;
  @include mq {
    padding-top: 70px;
  }
  &.-top {
    @include mq {
      width: 75vw;
      margin-left: auto;
    }
  }
  &.-secondary {
    @include mq {
      margin: 0 auto;
      max-width: 900px;
    }
  }
  &.-hasform {
    @include mq {
      margin: 0 auto;
      max-width: 930px;
    }
  }
}

.main {
  margin-bottom: 100px;
}

.inner {
    padding: 30px 15px;
    text-align: center;
    @include mq {
      padding: 60px 15px;
    }
  &.-top {
    padding: 20px 15px;
    border-bottom: 1px solid $color-normal-lighter;
  }
  &.-post {
    border-top: 1px solid $color-normal-lighter;
  }
  .or {
    position: relative;
    padding: 30px 0;
    font-size: 1.7rem;
    @include mq {
      padding: 60px 0;
      font-size: 2rem;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 45%;
      height: 1px;
      content: "";
      background: $color-normal;
    }
    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 45%;
      height: 1px;
      content: "";
      background: $color-normal;
    }
  }
  .link_wrap {
    margin-top: 15px;
    a {
      display: block;
    }
  }
}

.catch {
  text-align: center;
}

.options_wrap {
  background: $color-base-secondary;
  border-top: 1px solid $color-normal-lighter;
}
.options {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: scroll;
    border-bottom: 1px solid $color-normal-lighter;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display:none;
    }
    .options_item {
      margin: 0;
      border-right: 2px solid $color-normal-lighter;
      cursor: pointer;
      &.active {
        background: $color-normal-lighter;
      }
    }
    .options_title {
      display: block;
      padding: 15px 30px 14px 15px;
      line-height: 1;
      font-size: 1.3rem;
      font-weight: $weight-bold;
    }
    .arrow:before {
      right: 15px;
      border-color: $color-primary;
    }
  .submit {
    position: absolute;
    top: auto;
    right: 10px;
    bottom: auto;
    @include mq {
      right: 80px;
    }
    input {
      display: block;
    }
  }
}
.option_form_wrap {
  display: none;
  padding: 15px;
  background: $color-normal-lighter;
  @include mq {
    padding: 15px 80px;
  }
  &.active {
    display: block;
  }
  .submit {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    input {
      display: block;
    }
  }
  .-bold {
    padding-bottom: 10px;
  }
  .option_select + .option_select {
    margin-top: 5px;
  }
  &.active {
    display: block;
  }
}

.options_item {
    margin-top: 10px;
    margin-right: 30px;
    @include mq {
      margin-right: 40px;
      font-size: 1.6rem;
    }
}
.submit {
  position: relative;
  margin-left: auto;
  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .search_text {
    display: inline-block;
    padding: 2px 10px;
    color: $color-base;
    border-radius: 20px;
    background: $color-primary;
    font-weight: $weight-bold;
  }
}

.pro_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pro_item {
  border-bottom: 1px solid $color-normal-lighter;
}
.pro_item a{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 15px;
  @include mq {
    padding: 15px 80px;
  }
}
.pro_item_left {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  figure {
    overflow: hidden;
  }
}
.pro_item_right {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 15px;
  color: $color-normal;
  @include mq {
    padding: 15px 40px 15px 15px;
  }
  .post_date_wrap {
    margin-top: 15px;
  }
  .post_date {
    padding-top: 10px;
    font-weight: $weight-bold;
    font-size: 1.3rem;
    line-height: 1;
    span {
      font-size: 1.5rem;
    }
    & + .post_date {
      margin-top: 3px;
      padding-top: 0;
    }
    &.-secondary {
      padding-top: 0;
    }
  }
}
.pro_name {
  width: 100%;
  font-size: 1.5rem;
  font-weight: $weight-bold;
  line-height: 1.4;
  span {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  @include mq {
    font-size: 1.7rem;
  }
}
.review {
  &.-row_sp {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding: 0;
    .review_cat {
      padding-top: 2px;
    }
    .star_icons {
      margin-left: 20px;
    }
  }
  &.-row_pc {
    width: 100%;
    .review_cat {
      padding-top: 10px;
      line-height: 1;
      @include mq {
        padding-top: 3px;
      }
    }
    .star_icons {
      padding-top: 5px;
    }
    @include mq {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      padding: 0;
      .star_icons {
        margin-left: 30px;
        padding-bottom: 5px;
      }
    }
  }
}

.registar + .pro_detail {
  .pro_name {
    margin-top: 10px;
  }
}
.pro_detail {
  padding: 0 0 15px 0;
  overflow: hidden;
}

.pro_img_wrap {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 15px 0;
  width: 100%;
  &.pro_img_2 {
    transform: translateX(50%);
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    @include mq(sm) {
      transform: none;
    }
    &.active {
      transform: translateX(-50%);
    }
  }
  &.pro_img_3 {
    transform: translateX(100%);
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    @include mq(sm) {
      transform: none;
    }
    &.transform_none {
      transform: none;
    }
    &.transform {
      transform: translateX(-100%);
    }
  }
  .img_outer {
    min-width: calc(100% - 30px);
    margin: 0 15px;
    @include mq(sm) {
      min-width: auto;
      width: calc(33.33333% - 30px);
    }
  }
  .arrow {
    position: absolute;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    &:before {
      top: 20px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 20px;
      height: 20px;
      border-top: 5px solid $color-normal-light;
      border-right: 5px solid $color-normal-light;
      box-shadow: 2px -2px 2px 0px $color-normal-lighter;
    }
    &.-next {
      right: 0;
      &:before {
        left: 5px;
      }
    }
    &.-prev {
      left: 0;
      &:before {
        left: 15px;
      }
    }
  }
  .number {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 5px 8px;
    pointer-events: none;
    color: $color-base;
    background: $color-normal-light;
    font-weight: 700;
    line-height: 1;
  }
}

.star_icons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  .star_icon {
    display: block;
    height: 16px;
    & + .star_icon {
      margin-left: 2px;
    }
  }
  &.-lg{
    position: absolute;
    bottom: 3px;
    padding-left: 8px;
    pointer-events: none;
    .star_icon {
      height: 35px;
      & + .star_icon {
        margin-left: 15px;
      }
      svg {
        width: 35px;
        height: 35px;
      }
    }
  }
}
.review_cat {
  padding-top: 5px;
  font-weight: $weight-bold;
  .font_bigger {
    font-size: 1.5rem;
  }
}

.invalid-feedback {
  display: block;
  padding: 5px 10px 10px;
  text-align: left;
}

.alert {
  font-weight: $weight-bold;
  color: $color-accent;
  text-align: left;
  &.-head {
    margin: 30px 15px 0;
    & + .card {
      margin-top: 10px;
    }
  }
  &.-lg {
    font-size: 1.6rem;
  }
}

.add_images_wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  .add_image_input {
    position: relative;
    width: calc(33.3333% - 10px);
    border: 1px solid $color-normal-light;
    &:before {
      display: block;
      padding-top: 100%;
      content: "";
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    figure {
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-color: $color-base;
    }
    .number {
      position: absolute;
      top: -1px;
      left: -1px;
      padding: 5px 8px;
      pointer-events: none;
      color: $color-base;
      background: $color-normal-light;
      font-weight: $weight-bold;
      line-height: 1;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.img_outer {
  position: relative;
  width: 100px;
  border: 1px solid $color-normal-light;
  @include mq {
    width: 120px;
  }
  &:before {
    display: block;
    padding-top: 100%;
    content: "";
  }
  figure {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: $color-base;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.list_items {
  margin: 0;
  padding: 0;
  list-style: none;
  .list_item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding: 15px 0 5px;
    border-bottom: 1px solid $color-normal-light;
  }
  .list_left {
    margin: 0;
    padding-left: 5px;
    width: 45%;
    font-size: 1.3rem;
    font-weight: $weight-bold;
    color: $color-normal;
    opacity: .8;
  }
  .list_right {
    margin: 0;
    padding-left: 5px;
    width: 55%;
  }
}

.border_line  {
  position: relative;
  margin-top: 10px;
  padding: 30px 0;
  font-size: 1.3rem;
  display: block;
  font-weight: $weight-bold;
  color: $color-accent;
  @include mq {
    padding: 40px 0;
    font-size: 1.4rem;
  }
  &:before {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: calc(50% - 70px);
    height: 2px;
    content: "";
    border-top: 2px dashed $color-accent;
  }
  &:after {
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: calc(50% - 70px);
    height: 2px;
    content: "";
    border-top: 2px dashed $color-accent;
  }
}
.st {
  fill: $color-normal-light;
}
.star_icon_1 {
  .st1 {
    fill: $color-primary;
  }
}
.star_icon_2 {
  .st1, .st2 {
    fill: $color-primary;
  }
}
.star_icon_3 {
  .st1, .st2, .st3 {
    fill: $color-primary;
  }
}
.star_icon_4 {
  .st1, .st2, .st3, .st4 {
    fill: $color-primary;
  }
}
.star_icon_5 {
  .st1, .st2, .st3, .st4, .st5 {
    fill: $color-primary;
  }
}

// pagination
.pagination {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
  padding: 0;
  list-style-type: none;
  li {
    margin: 0 5px;
    padding: 0 12px;
    border: 1px solid $color-normal-light;
    background: $color-normal-light;
    color: $color-base;
    font-weight: $weight-bold;
    font-size: 2rem;
    &.active {
      border: 1px solid $color-primary;
      background: $color-primary;
    }
    &:first-child {
      margin-right: 10px;
      span, a {
        display: block;
        margin: -2px 0 2px;
      }
    }
    &:last-child {
      margin-left: 10px;
      span, a {
        display: block;
        margin: -2px 0 2px;
      }
    }
    a {
      color: $color-base;
    }
  }
}
