// ==========================================================================
// card
// ==========================================================================

.card {
  width: calc(100% - 30px);
  max-width: 900px;
  margin: 0 auto;
  margin: 30px auto 0;
  padding: 15px;
  border: 1px solid $color-normal-lighter;
  border-radius: 10px;
  background: $color-base;
  @include mq {
    margin: 60px auto 0;
    padding: 30px;
  }
  & + .card {
    margin-top: 15px;
    @include mq {
      margin-top: 30px;
    }
  }
  h1 {
    font-size: 1.8rem;
    font-weight: $weight-bold;
    & + p {
      margin-top: 15px;
    }
  }
  h2 {
    & + p {
      margin-top: 15px;
    }
  }
  p {
    & + .btnWrap {
      margin-top: 30px;
      &.-margin {
        margin-top: 20px;
        margin-bottom: 0;
      }
    }
  }
  & + .btnWrap {
    margin-top: 30px;
  }
  &.-faq {
    padding: 15px 15px 30px;
    @include mq {
      padding: 30px;
    }
    .title {
      position: relative;
      margin-top: 15px;
      padding: 0 0 0 25px;
      font-size: 1.5rem;
      &::before {
        position: absolute;
        top: 5px;
        left: 6px;
        content: "";
        width: 8px;
        height: 14px;
        border-bottom: 3px solid $color-primary;
        border-right: 3px solid $color-primary;
        transform: rotate(45deg);
      }
      & + .question {
        margin-top: 10px;
      }
    }
    .question {
      position: relative;
      font-weight: $weight-bold;
      padding-left: 25px;
      padding-right: 25px;
      cursor: pointer;
      &::before {
        position: absolute;
        top: 11px;
        left: 12px;
        content: "";
        width: 6px;
        height: 10px;
        border-top: 2px solid $color-normal;
      }
    }
    .answer {
      display: none;
      margin: 5px 0 10px 0;
      padding: 15px;
      font-size: 1.3rem;
      background: $color-normal-lighter;
      & + .question {
        margin-top: 5px;
      }
      & + .title {
        margin-top: 15px;
      }
    }
  }
  &.-policy {
    padding: 15px 15px 30px;
    @include mq {
      padding: 30px;
    }
    h2 {
      margin-top: 30px;
      font-size: 1.7rem;
      &.-top {
        margin-top: 15px;
      }
    }
    h3 {
      margin: 0;
      padding-left: 5px;
      font-size: 1.6rem;
      font-weight: $weight-bold;
      & + h4 {
        margin-top: 10px;
      }
      & + p {
        padding-left: 5px;
      }
    }
    h4 {
      margin: 0;
      padding-left: 10px;
      font-size: 1.5rem;
    }
    p {
      margin-top: 5px;
      font-size: 1.4rem;
      & + h3 {
        margin-top: 10px;
      }
    }
    &.-register {
      margin: 15px 0 0;
      width: 100%;
      max-width: none;
      height: 250px;
      overflow: scroll;
      text-align: left;
      @include mq {
        margin: 30px 0 0;
      }
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        margin-top: 15px;
        font-size: 1.4rem;
        &.-top {
          margin-top: 15px;
        }
      }
      h3 {
        margin: 0;
        padding-left: 5px;
        font-size: 1.3rem;
        font-weight: $weight-bold;
        & + h4 {
          margin-top: 10px;
        }
      }
      h4 {
        margin: 0;
        padding-left: 10px;
        font-size: 1.2rem;
      }
      p {
        margin-top: 5px;
        font-size: 1.1rem;
        & + h3 {
          margin-top: 10px;
        }
      }
    }
    & + .btnWrap {
      margin: 0 auto 100px;;
      width: calc(100% - 30px);
      max-width: 800px;
    }
    &.-confirm {
      max-height: 50vh;
      overflow: scroll;
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        margin-top: 15px;
        font-size: 1.4rem;
        &.-top {
          margin-top: 15px;
        }
      }
      h3 {
        margin: 0;
        padding-left: 5px;
        font-size: 1.3rem;
        font-weight: $weight-bold;
        & + h4 {
          margin-top: 10px;
        }
      }
      h4 {
        margin: 0;
        padding-left: 10px;
        font-size: 1.2rem;
      }
      p {
        margin-top: 5px;
        font-size: 1.1rem;
        & + h3 {
          margin-top: 10px;
        }
      }
    }
  }
  &.-form {
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px 15px;
    @include mq {
      padding: 20px 30px 20px;
    }
    .explain {
      text-align: left;
      & + .label {
        margin-top: 15px;
      }
    }
  }
}
