// ==========================================================================
// card
// ==========================================================================


.card {
  background-color: #fff;
  border-radius: 10px;
  &.-padding{
    padding: 20px;
  }
  & + .card {
    margin-top: 0px;
  }
  & + .btnWrap {
    margin-top: 30px;
  }
  & + .arrow_next {
    position: relative;
    margin-bottom: 70px;
  }
}
