// ==========================================================================
// clearfix
// ==========================================================================

.cf:after	{
  content:	"	";
  display:	block;
  clear:	both;
}