// ==========================================================================
// 
// ==========================================================================

.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}

.pc_w-90 {
  @include mq{
    width: 90%;
  }
}
.pc_w-80 {
  @include mq{
    width: 80%;
  }
}
.pc_w-70 {
  @include mq{
    width: 70%;
  }
}
.pc_w-60 {
  @include mq{
    width: 60%;
  }
}
.pc_w-50 {
  @include mq{
    width: 50%;
  }
}
.pc_w-40 {
  @include mq{
    width: 40%;
  }
}
.pc_w-30 {
  @include mq{
    width: 30%;
  }
}
.pc_w-20 {
  @include mq{
    width: 20%;
  }
}
.pc_w-10 {
  @include mq{
  width: 10%;
  }
}